{% extends "imyvmstats/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h2>Logged messages</h2>

    {% if page_obj %}
        <table class="message_list">
            <thead>
            <tr>
                <th>序号</th>
                <th>玩家ID</th>
                <th>当前余额</th>
            </tr>
            </thead>
            <tbody>
            {% for message in page_obj %}
                <tr>
                    <td class="playerlist"><a href="{% url 'moneyDetail' %}?uuid={{message.player_uuid}}">{{forloop.counter}}</a></td>
                    <td class="playerlist"><a href="{% url 'moneyDetail' %}?uuid={{message.player_uuid}}">{{ message.player }}</a></td>
                    <td class="playerlist"><a href="{% url 'moneyDetail' %}?uuid={{message.player_uuid}}">{{ message.money }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No messages have been logged. Use the <a href="{% url 'log' %}">Log Message form</a>.</p>
    {% endif %}
{% endblock %}